@charset "UTF-8";
    .custom-link {
        color: #333333; /* 링크 색상 */
        text-decoration: none; /* 기본 밑줄 제거 */
        transition: color 0.3s; /* 색상 변화 애니메이션 */
    }

	.resultid{
		color: blue;
		text-decoration: none;
	}