<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosea.project.mappers.UsersMapper">

<select id="idcheck" resultType="java.lang.Integer">
    <![CDATA[SELECT COUNT(*) FROM users WHERE userId=#{userId}]]>
</select>

<insert id="signup" parameterType="com.kosea.project.vo.UsersVO">
	<![CDATA[INSERT INTO users (userId,userPw,userPwRe,userName,phoneNum,email,birthDate) VALUES (#{userId},#{userPw},#{userPwRe},#{userName},#{phoneNum},#{email},#{birthDate})]]>
</insert>

<insert id="signupseller" parameterType="com.kosea.project.vo.UsersVO">
	<![CDATA[INSERT INTO users (userId,userPw,userPwRe,userName,phoneNum,email,verify,birthDate) VALUES (#{userId},#{userPw},#{userPwRe},#{userName},#{phoneNum},#{email},5,#{birthDate})]]>
</insert>

<select id="signin" resultType="com.kosea.project.vo.UsersVO">
	<![CDATA[SELECT userId,userPw,verify FROM users WHERE userId=#{userId}]]>
</select>

<select id="viewUserInfo" resultType="com.kosea.project.vo.UsersVO">
	<![CDATA[SELECT * FROM users WHERE userId=#{userId}]]>
</select>

<select id="findidByPhone" resultType="java.lang.String">
	<![CDATA[SELECT userId FROM users WHERE userName=#{userName} AND phoneNum=#{phoneNum}]]>
</select>

<select id="findidByEmail" parameterType="String" resultType="java.lang.String">
	<![CDATA[SELECT userId FROM users WHERE email=#{email}]]>
</select>

<select id="findpw" parameterType="com.kosea.project.vo.UsersVO" resultType="java.lang.String">
	<![CDATA[SELECT email FROM users WHERE userId=#{userId}]]>
</select>

<update id="updatePw" parameterType="map">
	<![CDATA[UPDATE users SET userPw = #{userPw}, userPwRe = #{userPwRe} WHERE userId = #{userId}]]>
</update>

    <select id="getUserByToken" resultType="com.kosea.project.vo.UsersVO">
        <![CDATA[SELECT * FROM users WHERE resetToken = #{token}  AND tokenTime >SYSDATE]]>
    </select>

<update id="saveResetToken" parameterType="map">
	<![CDATA[UPDATE users SET resetToken = #{resetToken}, tokenTime = #{tokenTime} WHERE userId = #{userId}]]>
</update>

    <!-- 비밀번호 재설정 후 토큰 삭제 -->
<update id="deleteResetToken" parameterType="string">
	<![CDATA[UPDATE users SET resetToken = NULL, tokenTime = NULL WHERE userId = #{userId}]]>
</update>

</mapper>